@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
header {
  background-image:  url("../images/BG.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
}

#nav {
  display: inline-block;
  padding-top: 30px;
 margin-left: -50px;
}
#logo{
 
  transform: translate(40px, 40px);
}
#p1 {
  margin-left: 400px;
  margin-top: 100px;
  font-size: 40px;
  width: 650px;
  color: white;
  font-family: 'Lobster', cursive;

}
a {
  text-decoration: none;
  color: white;
}
li {
 font-size: 30px;
 display: inline;
 margin: 30px;  
}
ul {
 margin-left: 250px;
}
li a:hover {
    color: orange;
  
}

main 
{
    font-family: 'Lobster', cursive;
}

#First
{
  border-radius: 50%;
  transform: translateX(30px);
}
*{
  margin:0;
  padding:0;
}


#text{

  font-size: 20px;
  font-weight: bold;
}
.box{
  width: 650px;
  height: 450px;
  background:#301e18;
  box-sizing: border-box;
  overflow: hidden;
  color: white;
  padding: 20px; 
  margin-left: 30px;
}
.exam{
  font-weight:none;
  font-size: 18px;
  padding-top: 20px;
  padding-left:20px;
  line-height: 1.8;
}
#next{
  margin-right: 20px;
  float: right;
  width: 100px;
  height: 50px;
}
.imges{
  width: 100px;
  height: 100px;
}
#num{
  float:right;
  padding-right: 20px;
}
.box .content{
  width: 600px;
  height: 400px;
  border:1px solid #f0a591;
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5); 
}
.con{
font-size: 18px;
  color: white;
  padding: 40px 20px 20px 20px;
  text-align: center;
  line-height: 1.8;
  height: 400px;
}
:root {
  
  --primary: #5f5f5f;
  --secondary: #000000;
  --third: #a8a8a8;
}


.last{
  float: right;
background-color: #3f271f;
  width: 600px;
  height: 450px;
margin-top: 30px;
margin-right: 20px;
}
.imges{
  padding-top: 100px;
}

.start{
 width: 150px;
 height: 50px;
 border: none;
 outline: none;
 color: black;
 cursor: pointer;
 position: relative;
text-align: center;
}
#name{
  color: goldenrod;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
    margin-top: 10px;
  margin-bottom: 10px;
}

#start{
  padding:50px;
  font-size: 20px;
  margin: 50px 0px;
 line-height: 1.8;
  text-align: center;
}
#result
{
  color:goldenrod;
  font-size: 20px;
  line-height: 2;
  text-align: center;
  padding: 20px;
}

.text{
  color: white;
  font-size: 20px;
  line-height: 2;
  text-align: center;
  padding-top: 20px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

footer {
  margin-top: 100px;
  width: 100%;
  height: 50px;
  background: linear-gradient(
     90deg,
     #271e1e 0%,
     #613d31 100%);
}
#footerP{
  display: inline;
  text-align: center;
  color: white;
  font-size: large;
  margin-left:400px ;}
i{
  font-size: 30px;
  color:#ffeebb;
  padding: 10px;
}
i:hover{
  color: orange;
}
