@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
header {
    background-image:  url("../images/bg1.jpeg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px;
}
header div {
  transform: translate(-40px, 100px);
}
#nav {
    padding-top: 30px;
    margin-left: -50px;
  
}
#navim {
    height: 100px;
    width: 100px;
    transform: translate(40px, 40px);
}
.nav{
  display: inline-block;
}

#sayingDiv{
  color: #561206;
  
  text-shadow: 0 0 20px white;
}

#p1 {
    margin-left: 200px;
    font-size: 60px;
    margin-top:50px;
    font-family: 'Acme', sans-serif;
    display: inline;
}


#p3 {
  margin-left: 400px;
  font-size: 60px;
 
  font-family: 'Acme', sans-serif;
  
}


#p5 {
  margin-left: 570px;
  font-size: 60px;
  margin-top:50px;
  font-family: 'Acme', sans-serif;
  display: inline;
}


a {
    text-decoration: none;
    color: white;
}
li {
    font-size: 30px;
    display: inline;
    margin: 30px;  
}
ul {
   margin-left: 250px;
}
li a:hover {
    color: #ffa500;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    overflow-x: hidden;

    
}
.more-stuff-grid{
    transform: translateY(5%);
    text-align: center;
} 

#div1 {
  height: 450px;
}

#div2 {
  height: 470px;
}

#click1{
  transform: translate(-580px,-430px);

}

#click2 {
  transform: translate(-580px,-290px);
}


.more-stuff-grid h2{
  color: #561206;
  
  font-size: 30px;
}


.more-stuff-grid h1::before{
  content: '';
  background-color:gray;
  height: 40px;
  width: 40px;
  z-index: 2;
}
.more-stuff-grid img{
    height: 400px;
    width: 400px;
  
}
.more-stuff-grid p{
    max-width: 50%;
    margin: auto;
    font-size: 30px;
    font-family: 'Acme', sans-serif;
    transform: translate(180px,-375px);
    line-height: 1.6;
    text-shadow: 0px 0px 5px grey;
    
}
.more-stuff-grid div{
margin-bottom: 30px auto;
text-align: center;
transform: translateY(-15px);
}
figure {
    position: relative; 
    overflow: hidden;
    margin: 0;
    height: 400px;
    width: 400px;
    filter: grayscale(.8);
    transform: translateX(60px);
}
figure img{
    width: 400px;
    height: 400px;
}
figure::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    display: block;
    content: '';
    width: 0;
    height: 0;
    background: rgba(0,0,0,.2);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
figure:hover{
    animation: bloom ease-in-out .75s forwards;
}
figure:hover::before {
    animation: circle .75s;
}
@keyframes bloom {
    0% {
      filter: grayscale(.8);
    }
    40% {
      filter: grayscale(.5);
    }
    100% {
      filter: grayscale(0);
    }
}
@keyframes circle {
    0% {
      opacity: .5;
      background: rgba(213,156,34,.2);
      
    }
    40% {
      opacity: 1;
      background: rgba(213,34,160,.2);
    }
    100% {
      width: 100%;
      height: 100%;
      opacity: 0;
    }
}

#repeat1{
  background-image: repeating-linear-gradient(45deg,  transparent 0 2px,#ffa500);
  height: 5px;
  transform: translateY(20px)
}
#repeat2{
  background-image: repeating-linear-gradient(45deg, #ffa500 0 2px,transparent);
  height: 5px;
  transform: translateY(-20px)
}
#tit{
  text-align: center;
}
#tit h1{
  font-size: 60px;
  transform: translate(140px , -380px);
  font-family: 'Acme', sans-serif;
  text-shadow: 0px 0px 5px grey;
}
footer {
 
  width: 100%;
  height: 90px;
  /* background-color: #501005; */
  background-color: #3f271f;
  text-align: center;

}
#footerP{
  /* display: inline; */
  color: white;
  font-size: large;
  /* margin-left: 400px; */
  /* transform: translateY(50px); */

}
i{
  font-size: 30px;
  color:#ffeebb;
  padding: 10px;
}
i:hover{
  color: orange;
}
