

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

header {
    background-image:  url("../images/photo-1596633608169-2ee5f4ed60e3.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}

#navim {
    height: 100px;
    width: 100px;
    transform: translate(40px, 40px);
}

#nav {
    display: inline-block ;
   
    padding-top: 30px;
}

a {
    text-decoration: none;
    color: white;
}

li {
    font-size: 30px;
    display: inline;
    margin: 30px;  
   
}

ul {
   margin-left: 200px;
  
}

li a:hover {
    color: orange;
}

/* #p1 {
    margin-left: 200px;
    font-size: 40px;
    margin-top:50px;
    font-family: 'Acme', sans-serif;
} */
#p2 {
    margin-left: 150px;
    margin-top: 70px;
    font-size: 80px;
    font-family: 'Acme', sans-serif;
    text-shadow: 0 0 20px white;
    color: #501005;
}
#p3 {
   font-size: 40px;
    margin-left: 310px;
    font-family: 'Acme', sans-serif;
    text-shadow: 0 0 20px white;
    color: #501005;
}
#p4 {
    font-size: 40px;
    margin-left: 350px;
    font-family: 'Acme', sans-serif;
    text-shadow: 0 0 20px white;
    color: #501005;
}

#p5 {
    font-size: 80px ;
    margin-left: 480px;
    font-family: 'Acme', sans-serif;
    text-shadow: 0 0 20px white;
    color: #501005;
}
#p6 {
    margin-left: 600px ;
    font-size: 25px;
    font-family: 'Acme', sans-serif;
    text-shadow: 0 0 20px white;
    color: #501005;
}


main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 1200px;
    width: 100%;
}

#videoDiv {
   width: 1050px;
   height: 550px;
   margin-left: 30px;
   margin-top: 30px;
}

#video {
  
    width: 1050px ;
    height: 550px;
}

#titlesDiv {
   overflow: auto;
   width: 330px;
   height: 550px;
   margin-top: 30px;
}

div img {
    width: 110px;
    height: 90px;
    margin: 5px;
    
}
div p {
    display: inline-block;
    color:black;
    font-size: x-large;
    transform: translateY(-60px);
    margin-left: 20px;
}

div div {
    width: 300px;
    margin-bottom: 5px;
    cursor: pointer;
    border: solid 2px gray;
}

/* width */
#titlesDiv::-webkit-scrollbar {
   width: 20px;
}
  
/* Track */
#titlesDiv::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #404040; 
    border-radius: 10px;
}
   
/* Handle */
#titlesDiv::-webkit-scrollbar-thumb {
    background: #404040; 
    border-radius: 10px;
}
  
/* Handle on hover */
#titlesDiv::-webkit-scrollbar-thumb:hover {
    background: orange; 
}

#gif {
    width: 400px;
    height: 450px;
    
} 

#chartDiv {
    width: 1050px;
    margin-left: 30px;

}

canvas {
    border: solid 2px gray;
}

footer {
   width: 100%;
   height: 90px;
   /* background-color: #501005; */
   background-color: #3f271f;
   text-align: center;

}

#footerP{
     color: white;
     font-size: large;
    
}
i{
    font-size: 30px;
    color:#ffeebb;
    padding: 10px;
   
}
i:hover{
    color: orange;
}